

/* Orginiza os produtos dentro do contene vitrine */

.vitrine {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10ch;
    width: 80%;
    gap: 10px;
    min-height: 100%;
    padding: 32px; 
}